@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Fjalla+One&family=Righteous&family=Secular+One&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Fjalla+One&family=Righteous&family=Secular+One&family=Supermercado+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(242,193,160,1) 0%, rgba(212,191,183,1) 56%, rgba(172,189,214,1) 76%, rgba(148,187,233,1) 100%);
    background-size: 1350px 650px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#title{
    margin-left: 200px; box-shadow: 10px 10px 20px rgb(255, 255, 255); width: fit-content; border-radius: 22px; font-family: fantasy; padding: 7px;
}
#logo{
    position: absolute;
    top: 5px;
    left: 575px;
    width: 160px;
    border-radius: 50%;
    box-shadow: 20px 20px 50px rgb(60, 0, 255);
    animation: rotate 10s linear 0s infinite;
}
#song{
    width: 1125px;
    height: 237px;
    margin: 220px 75px;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    border: 7px ridge rgb(255, 166, 0);
    border-radius: 100px;
    /* overflow: hidden; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 20px 30px 40px rgb(12, 15, 17),30px 40px 50px grey;
    
}
b:nth-child(1){
    margin: 30px 475px;
    font-size: 33px;
    font-family: 'Secular One', sans-serif;
    color: white;
}
/* .control{
    width: 75px;
    margin-left: 150px;
    border-radius: 50%;
    margin-top: 25px;
    cursor: pointer;
}*/
.con1{
    
    box-shadow: 10px 10px 22px rgb(241, 158, 235);

    
}
.con3{
    box-shadow: 10px 10px 22px rgb(241, 158, 235);
}
#con2{
    box-shadow: 10px 10px 22px rgb(107, 206, 49),-10px -10px 22px rgb(107, 206, 49);

}
.con1:hover,.con3:hover{
    box-shadow: 10px 10px 22px rgb(46, 179, 202);
    transition: 0.2s;
}
#con2:hover{
    box-shadow: 10px 10px 22px rgb(206, 49, 70),-10px -10px 22px rgb(91, 49, 206);
    
} 

#title{
  
    margin: 10px 120px;
    font: 22px cursive;
}
#artist{
    margin: -10px 120px;
    font: 22px cursive;
}
#gif{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 170px;
    border-radius: 50%;
    
    z-index: 2000;
    opacity: 90%;
    
}
.gif{
    animation: anime 5s linear 0s infinite;
    box-shadow: 10px 10px 40px rgb(0, 0, 0);
}
@keyframes anime {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }
}

#audio1{
    position: absolute;
    width: 500px;
    top: 220px;
    left: 320px;
    border-radius: 20%;
    display: none;
    box-shadow: 5px 5px 20px rgb(47, 255, 255),-5px -5px 20px rgb(255, 182, 47);
    opacity: 90%;
}
#audio1:hover{
    box-shadow:10px 10px 10px black;
    opacity: 100%;
}
#replay{
    border-radius: 50%;
    position: absolute;
    top: 24px;
    left: 970px;
    width: 75px;
    box-shadow: 12px 12px 20px rgb(233, 226, 226);
    cursor: pointer;
}
#replay:hover{
    box-shadow: 12px 12px 20px rgb(211, 0, 63);
    border: 5px dotted black;
    transition: 0.3s;
    width: 75px;}
    
#song h3{
        background: black;
        color: white;
        position: absolute;
        top: 90px;
        left: 970px;
        font-size: 20px;
        border-radius: 30px 40px;
        opacity: 50%;
        
    }

#music_cont{
    width: 25rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
    
}
#music_cont .fas{
    color: rgb(23, 182, 255);
    font-size: 20px;
    cursor: pointer;
    background: black;
    padding: 20px;
    
    border: 5px rgb(255, 255, 255) double;
    border-radius: 50%;
}
#music_cont .fas:hover{
    text-shadow: 2px 2px black;
    background: rgb(0, 243, 231);
    color: rgb(255, 0, 0);
    
    transition: 0.3s;
}
#music_cont .fas:active{
    text-shadow: 2px 2px black;
    background: rgb(0, 0, 0);
    color: rgb(0, 255, 213);
    
   
}
.songlist{
    width: 1000px ;
    height: fit-content;
    background: #7AAD36;
    background: -webkit-radial-gradient(top, #7AAD36, #3C5B69);
    background: -moz-radial-gradient(top, #7AAD36, #3C5B69);
    background: radial-gradient(to bottom, #7AAD36, #3C5B69);
    padding: 12px;
    margin-left: 150px;
    border-radius: 12%;
    border: 7px dotted wheat;
    position: -webkit-sticky;
    position: sticky;
    margin-top: -120px;
}
.songlist h1{
    margin: 0px 0 0 350px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5rem;
    color: white;
    text-shadow: 3px 3px rgb(255, 5, 5);
}
.songlist #h2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
.songlist button{
    width: 500px;
    margin-top: 20px;
    margin-left: 250px;
    border-radius: 15px 40px;
    padding: 7px;
    cursor: pointer;
    background: #9816F1;
background: -webkit-radial-gradient(top, #9816F1, #41FFAB);
background: -moz-radial-gradient(top, #9816F1, #41FFAB);
background: radial-gradient(to bottom, #9816F1, #41FFAB);
}
.songlist button h2{
    font-size: 25px;
    color: white;
    font-family: 'Comfortaa', cursive;
    text-shadow:  2px 2px yellow;

}
.load{
    border-radius: 500px;
    width: 500px;
    height: 100vh;
    z-index: 99999;
    margin-left: 400px;

}
.mar{
    position: absolute;
    top: 300px;
    left: 550px;
    width: 200px;
    font-family: cursive;
    color: ivory;
    font-size: 30px;
}
  
.songlist button:hover{
    background: transparent;
    box-shadow: 5px 5px 10px rgb(47, 255, 245);
    transition: 0.2s;
    border: 5px double white;
}
.songlist button:active{
    background: white;
    color: #000;
}
@media screen and (max-width: 400px) {
    #first{
        box-shadow: none;
        border-radius: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
    #nav a{
        display: none;
    }
    #nav a:nth-child(3){
        display: block;
        position: absolute;
        margin-left: -30%;
        top: 1px;
        left: 20%;
    }
    #song{
        border-radius: 10px;
        margin-top: -50%;
        border: none;
        transform: scale(.43);
        margin-left: -90vw;
    }
    #lang{
        margin-left: 7vw;
    }
    #lang h1{
        transform: scale(.6);
    }
    #logo{
        display: none;
    }
    #title{
        margin: 5px 350px;
        width: 300px;
        box-shadow: none;
    }

    *
    {
        margin: 0;
        box-sizing: border-box;
    }
    #song h3{
        display: none;
    }
    #replay{
        display: none;
    }
    .songlist{
        margin-top: 100px;
        margin-left: 0px;
        border-radius: 1px;
        width: 100vw;
        position: relative;
        margin-left: 0;
    }
    .songlist h1{
        margin-left: 10px;
    }
    #h2{
        width: 95vw;
        margin-left: -80%;
    }
    #h2 button{
        transform: scale(.8);
        width: 100%;
        background: #62e4f88e;
    }
    #h2 button h2{
        color: #000;
        font-size: 20px;
    }
}