@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Fjalla+One&family=Pushster&family=Righteous&family=Secular+One&display=swap');
*{margin: 0;padding: 0;}
#first{
    width: 1300px;
    height: 600px;
    box-shadow: 20px 20px 37px rgb(238, 226, 155);
    border-radius: 25px 100px;
    margin: 25px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(242,193,160,1) 0%, rgba(212,191,183,1) 56%, rgba(172,189,214,1) 76%, rgba(148,187,233,1) 100%);    overflow: hidden;
    
}
.navs li{
    font-size:30px;
    display: inline-block;
    font-weight: 1000;
    font-style: bold;
    font-family: 'Righteous', cursive;
    box-shadow: 5px 7px 12px rgba(255, 0, 0, 0.442);
    border-radius: 25px;
    padding: 5px 12px;
    margin:20px 20px;
    cursor: pointer;
    color: black;
}
li:nth-child(1){
    margin-left: 135px;
}
li:nth-child(3){
    margin-left: 330px;
    
}
#nav a:nth-child(3){
    margin-left: 200px;
}
#nav a:nth-child(4){
    margin-left: -100px;
}
#nav a:nth-child(2){
    margin-left: -100px;
}

li:active{
    background: black;
    color: white;
}
#logo{
    position: absolute;
    top: 5px;
    left: 575px;
    width: 160px;
    border-radius: 50%;
    box-shadow: 20px 20px 50px rgba(173, 228, 70, 0.545);
    animation: rotate 10s linear 0s infinite;
}
#logo:hover{
    animation:none;
    
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    70%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
li:hover{
    border-radius: 10%;
    box-shadow: 20px 20px 50px rgb(230, 255, 9),-20px -20px 50px rgb(255, 9, 152);
    border: 2px solid black;
    font-size: 32px;
    transition: 0.3s;
    
}
#song{
    width: 1125px;
    height: 200px;
    margin: 75px 75px;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    border: 7px ridge rgb(255, 166, 0);
    border-radius: 100px;
    overflow: hidden;
    
    box-shadow: 20px 30px 40px grey,30px 40px 50px grey;
    
}
b:nth-child(1){
    margin: 30px 475px;
    font-size: 33px;
    font-family: 'Secular One', sans-serif;
    color: white;
}
.control{
    width: 75px;
    margin-left: 150px;
    border-radius: 50%;
    margin-top: 15px;
    cursor: pointer;
}
.con1{
    margin-left: 300px;
    box-shadow: 10px 10px 22px rgb(230, 198, 58);
    transform: rotate(180deg);
}
.con3{
    box-shadow: 10px 10px 22px rgb(206, 164, 49);
}
#con2{
    box-shadow: 10px 10px 22px rgb(107, 206, 49),-10px -10px 22px rgb(107, 206, 49);

}
.con1:hover,.con3:hover{
    box-shadow: 10px 10px 22px rgb(46, 179, 202);
    transition: 0.2s;
}
#con2:hover{
    box-shadow: 10px 10px 22px rgb(206, 49, 70),-10px -10px 22px rgb(91, 49, 206);

}
#gif{
    position: absolute;
    top: 230px;
    box-shadow: 20px 20px 40px rgb(61, 57, 57);
    border: 5px white dashed;
    left: 150px;
    width: 170px;
    border-radius: 50%;
    display: none;
    z-index: 2000;
}
#title{
  
    margin: 10px 120px;
    font: 22px cursive;
}
#audio{
    position: absolute;
    width: 500px;
    top: 380px;
    left: 420px;
    border-radius: 20%;
    display: none;
    box-shadow: 5px 5px 20px rgb(47, 255, 255),-5px -5px 20px rgb(255, 182, 47);
}

#replay{
    border-radius: 50%;
    position: absolute;
    top: 220px;
    left: 1070px;
    width: 75px;
    box-shadow: 12px 12px 20px rgb(233, 226, 226);
    cursor: pointer;
}
#replay:hover{
    box-shadow: 12px 12px 20px rgb(211, 0, 63);
    border: 5px dotted black;
    transition: 0.3s;
    width: 75px;

    
}
#lang{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    width: 80%;
    margin-left: 10%;
}
#song i{
    background: black;
    color: white;
    position: absolute;
    top: 280px;
    left: 1070px;
    font-size: 20px;
    border-radius: 30px 40px;
    opacity: 50%;
    
}
#lang h1{
    padding: 10px;
    display:inline-block;
    text-shadow: 1px 1px 2px white;
    background-color: rgba(185, 185, 185, 0.568);
    box-shadow: 10px 10px 22px rgba(255, 255, 0, 0.338);
    border-radius: 40px 20px;
    font-family: 'Comfortaa', cursive;
    color: rgb(65, 43, 43);
    cursor: pointer;
   
    border: 5px 0px;
}
.lang1{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}
#lang h1:hover{
    background: transparent;
    
}
#lang h1:active{
    background-color: rgba(76, 0, 130, 0.475);
}
#lang h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width:fit-content;
    padding: 3px;
    border-top: none;
      
}  

#load{
    z-index: 9;
    background: rgba(255, 0, 0, 0.671);
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    }
.load{
    border-radius: 500px;
    width: 500px;
    height: 100vh;
    z-index: 99999;
    margin-left: 400px;

}
.mar{
    position: absolute;
    top: 300px;
    left: 550px;
    width: 200px;
    font-family: cursive;
    color: ivory;
    font-size: 30px;
}
@media screen and (max-width: 400px) {
    #first{
        box-shadow: none;
        border-radius: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
    #nav a{
        display: none;
    }
    #nav a:nth-child(3){
        display: block;
        position: absolute;
        margin-left: -30%;
        top: 1px;
        left: 20%;
    }
    #song{
        border-radius: 10px;
        
        border: none;
        transform: scale(.5);
        margin-left: -100vw;
    }
    #lang{
        margin-left: 7vw;
    }
    #lang h1{
        transform: scale(.6);
    }
    #logo{
        display: none;
    }
    *
    {
        margin: 0;
        box-sizing: border-box;
    }
}